<div class="content image_section row">
    <main class="col-sm-12 col-md-12 col-lg-12">
        <div class="img"></div>
        <section>
            <header>
                <h1>The Foundation.</h1>
            </header>
            <p>Ps. Jones received this vision from God in year 2008. He met God as young man, who worked as a digital marketer, and salesman. The vision goes on as this quote - <i>"Preach the gospel of Jesus Christ to all nations"</i>. Quoting
                <span id="scripture">Mark 16:15</span>, this verse is his stand to preach the gospel to all persons across the globe. </p>
            <p>
                <span>"Believe Jesus as your Saviour"</span> - the common quote from Ps. Jones, one could come across his teachings or even in speeches at universities, social media platforms, high schools, anywhere He is invited.
            </p>
            <p>
                He now works along with his wife Claire, family of 2 children, other ministers like Mrs. Janet K, Ps. Peter, Ms. Roselyne, and others, along with other partnered churches, and inviduals, with the members of the church to make this mission accomplished
                with the grace of God that enables every person to do His will.
            </p>
        </section>
    </main>
</div>
