<div class="content image_section row">
  <main class="col-sm-12 col-md-12 col-lg-12">
    <div class="img"></div>
    <section>
   <header>
    <h1>The Foundation.</h1>
     </header>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus exercitationem aperiam fugiat quaerat explicabo accusamus consectetur debitis est, nobis temporibus maiores, ipsa nesciunt.<i>"Your are in the right place."</i> Expedita adipisci laudantium accusantium deserunt iste! Cumque aliquam eaque laudantium consectetur. Cupiditate repellendus ipsam libero consequuntur, quasi blanditiis quidem possimus error sint!</p>
   </section>
  </main>
</div>
