h1 {
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main {
  padding: 0.1em 0px;
  text-align: justify;
}

section {
 padding: 1.2rem;
 border-bottom: 2px solid #ddd ;
 font-size: 1.1rem;
}
header h1 {
  letter-spacing: 0.2rem;
}
.date {
padding: 0 1rem;
color: rgba(26, 26, 243, 0.945);
font-size: 1.9rem;
font-weight: 700;
}
.start {
  display : flex;
  justify-content: flex-start;

 }
.start > * {
  flex: 1 1 50%;
  padding: 0;
}

.time {
  border-right: 3px solid rgba(138, 136, 136, 0.466);
  margin-right: 1.2rem;
  word-spacing: 6rem;
}
@media ( min-width: 396px){
  .time{
    word-spacing: 0.3rem;
  }
}
@media (min-width: 767px){
  header h1{
    letter-spacing: normal;
  }
  section {
    padding: 1.2rem;
    border: 1px solid #ddd ;
    font-size: 1.1rem;
   }
}
