<div id="lightgallery" class="row container">
  <section  class="col-sm-12 col-md-12 col-lg-12" >
    <h1>Our Gallery</h1>
    <main>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores commodi eos voluptatibus ipsa itaque totam sunt beatae. Sunt nesciunt tempora exercitationem itaque mollitia.
     <br/>
      Check out here any of our past events across the whole ministry.
      Click the button below.
    </main>
    </section>
    <button class="btn btn-default"
    id="dynamic" (click)='onClick()'>Launch Gallery</button>
</div>

