<section>
  <header>
    <h1> {{ title }}</h1>
  </header>
  <main>
      <p>Et facilis voluptates, quaerat dolor, ipsa rerum impedit sed recusandae sequi aliquid quam culpa exercitationem officiis deleniti magni reprehenderit repudiandae repellat ad asperiores amet qui, odio nesciunt commodi pariatur? Reiciendis vel inventore sit quaerat eaque.
      </p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores perferendis aliquid commodi delectus sapiente qui neque, ab ut fugit, reiciendis animi deserunt libero.</p>
      <p> Hic itaque sit pariatur tempora dicta illum veritatis omnis iusto est tenetur consequuntur quis, animi magnam placeat, sapiente sunt tempore ea consequatur. Ullam, sed.
      </p>
  </main>
</section>
