<section>
    <header>
        <h1> {{ title }}</h1>
    </header>
    <main>
        <p> 2 Bible colleges were setup on site in Madagascar in 2008 to <span>equip pastors and evangelists with Biblical principles</span>, and teachings that they ought to follow, and live by to be good examples to their members, and communities. Currently
            the programme runs in the months of April through September, and
            <span>we have so far 300 graduates.</span> </p>
                <p>
                    Online Worship music live sessions every Thursdays and Saturdays have renewed hope in believers across the global,
                    <span>touching lives and bringing testimonies in the lives of the hearers</span>. One believer was healed of the incurable disease throught the ministered songs. </p>
        <p>Community <span>#GiveAHand</span>, last year 2019 in the months of August and October in the countries of Southern Sudan,South Africa, Kenya, Uganda , even in the China. As a ministry, we <span>gave poor communities
            relief</span> with food, clothes and medications on common and some rare diseases. About 32 families benefited with this programme, and this was done in partnership with local hospitals, local councils and their governments.
        </p>
    </main>
</section>
