<div class="content container row">
    <section class="col-sm-12 col-md-6 col-lg-5 ">
        <h3> Get in touch with us </h3>
        <p><span>Address</span> : Virtual Place </p>
        <p><span> Tel</span> : +(102) 789 949974, +(102) 444 403174</p>
        <p><span>Email</span> : churchdemo1@gmail.com
        </p>

        <p><em>Send us a message. Click <a href="mailto:churchdemo1@gmail.com">here.</a></em>
        </p>
    </section>
    <!-- //[LOGO PLACEMENT] -->
    <div class="logo col-sm-12 col-md-6 col-lg-6">
        <img src="../../assets/img/logo.png" sizes="(min-width: 600px) 45vw,  20vw" srcset="../../assets/img/logo_small.png 300w,../../assets/img/logo.png 600w" alt="a church logo">
    </div>
</div>
